.img{
  min-height: 100%;
  background-image:url('./img/pexels-james-wheeler-417074.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}
.img1{
  min-height: 100%;
  background-image:url('./img/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}